.custom-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo span{
  color: #171717;
  font-size: 28px;
  font-weight: 600;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.nav-menu li a{
  color: #626262;
  font-size: 17px !important;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu hr{
  margin: 0;
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #FF4141 !important;
}
.nav-username {
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center;
  padding: 6px 12px; /* Kích thước padding */
  border-radius: 20px; /* Độ cong của góc */
  cursor: pointer;
  transition: all 0.3s ease; /* Hiệu ứng transition */
  background-color: #fc5656; /* Màu nền */
  color: white; /* Màu chữ */
  font-weight: bold; /* Đậm chữ */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Hiệu ứng text shadow */
}

.username-text {
  font-size: 14px; /* Kích thước chữ */
}

.nav-username:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Box shadow */
  background-color: #e4291b; /* Màu nền khi hover */
}

.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 17px;
  background: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nav-login-cart button:hover {
  background-color: #e97070; /* Màu xanh dương sáng khi hover */
}
.nav-login-cart button:active {
  background-color: #FF4141; /* Màu xanh dương sáng sáng khi active */
}
/* .nav-login-cart button:active{
  background: #f3f3f3;
} */
.nav-cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -33px;
  margin-left: -42px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white
}
@media(max-width: 1280px){
  .navbar{
      padding: 12px 50px;
  }
  .nav-logo img {
    width: 40px;
  }
  .nav-logo p{
    font-size:25px ;
  }
  .nav-menu {
    gap: 30px;
    font-size: 16px;
  }

  .nav-login-cart{
    gap: 30px
  }
  .nav-username {
    padding: 3px 7px; /* Kích thước padding */
    color: white; /* Màu chữ */
  }
  .username-text {
    
    font-size: 12px; /* Kích thước chữ */
  }
  .nav-login-cart button{
    width: 120px;
    height: 45px;
    font-size: 16px;
  }
  .nav-cart-count{
    margin-left: -36px;
    font-size: 12px;
  }
}
.nav-dropdown{
    display: none;
}
@media(max-width: 1024px) {
    .navbar{
      padding: 12px 30px;
    }
    .nav-menu{
      gap: 25px;
      font-size: 14px;
    }
    .nav-username {
      padding: 3px 6px; /* Kích thước padding */
      color: white; /* Màu chữ */
    }
    .username-text {
      
      font-size: 11px; /* Kích thước chữ */
    }
    .nav-login-cart button{
      width: 80px;
      height: 35px;
      font-size: 14px;
    }
    .nav-login-cart img{
      width: 30px;
    }
    .nav-cart-count{
      width: 18px;
      height: 18px;
      margin-top: -25px;
      margin-left: -38px;
    }
}
@media(max-width: 800px){
  .navbar{
    padding: 10px 0px;
  }
  .nav-dropdown{
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
  }
  .nav-menu{
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 50px;
  }
  .nav-menu-visible{
    display: flex;
  }
  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}
@media(max-width: 500px){
  .navbar{
    width: 8px 0px ;
    gap: 0;
  }
  .nav-logo{
    transform: scale(0.8);
  }
  .nav-menu{
    height: 70px;
    top: 50px
  }
  .nav-login-cart{
    transform: scale(0.8);
  }
}